---
---

$site-avatar-size: {{ site.data.site.avatar.size }}px;

// Reset
@import "normalize";

// Variables and mixins
@import "variables";
@import "colors";
@import "z-index";
@import "animations";
@import "mixins";

// Typography & images
@import "typography";
@import "images";

// Core
@import "global";
@import "scaffolding";
@import "grid";

// Components
@import "nav";
@import "hero";
@import "content";
@import "modal";
@import "form";
@import "tagged";
@import "home";

// Utility classes
@import "utilities";
@import "responsive-utilities";

// Vendor
@import "vendor/jquery.modal";

#tag-cloud {
  a {
    display: inline-block;
    padding: 0 3px;
    &:before {
      content: '#';
      color: rgba($link-color, 0.5);
    }
  }
}

.image-feed {
  margin-top: 50px;
  padding-bottom: 32px;
  text-align: center;
}

.image-feed__item {
  display: inline-block;
  margin: 0 4px;
  box-shadow: $bs-lvl-1;
  transition: $magic-transition;
  border-radius: $base-border-radius;

  &:hover {
    box-shadow: $bs-lvl-3;
  }
}

.image-feed__item-bg {
  border-radius: $base-border-radius;
  min-height: $imgfeed-tumb-size;
  width: $imgfeed-tumb-size;
  background-size: cover;
  background-position: center;
}

.image-feed__modal {
  max-width: 800px !important;
  padding: 15px !important;
  border-radius: $base-border-radius !important;
  box-shadow: $bs-lvl-5 !important;

  p {
    font-family: "Roboto", sans-serif;
    font-size: 85%;
    padding: 0;
    margin: 0;
  }
}

.image-feed__modal-caption {
  color: currentColor;
}

.image-feed__modal-image {
  max-width: 100%;
  border-radius: $base-border-radius !important;
}
