---
layout: page
title: Home
---

<div class="blockGroup">
  {% if site.posts.size < 1 %}
    <div class="blockGroup__inner">
      <p>{{ site.data.site.posts.noPostsText }}</p>
    </div>
  {% else %}
    {% include home/posts-loop.html %}
  {% endif %}
</div>
