{% assign imgPosts = site.posts | where: 'layout', 'img' %}
{% for p in imgPosts %}
  <!-- Modal HTML embedded directly into document -->
  <div id="{{ p.title | remove: ' ' }}" class="modal image-feed__modal">
    <img class="image-feed__modal-image" src="{{ p.img | prepend: site.baseurl }}" alt="">
    <p class="image-feed__modal-caption">{{ p.title }}</p>
    <p class="image-feed__modal-tags">
      {% for t in p.tags %}
        <!-- <a href="{{ '/tagged/' | prepend: site.baseurl | append: t }}">{{ t }}</a> -->
        <a class="tagPage__post--tag" href="{{ '/tagged/' | prepend: site.baseurl | append: t }}">{{ t }}</a>
      {% endfor %}
    </p>
    <!-- <a href="#" rel="modal:close">Close</a> -->
  </div>
{% endfor %}
