{% if page.title == 'Home' %}
  {% assign imgPosts = site.posts | where: 'layout', 'img' %}
  <section class="section--imgFeedWrapper">
    <div class="container">
      <div class="image-feed">
        {% for p in imgPosts %}
          <div class="image-feed__item">
            <a href="{{ p.title | remove: ' ' | prepend: '#' }}" rel="modal:open">
              <div class="image-feed__item-bg" style="background-image: url({{ p.img | replace: 'full', 'thumb' | prepend: base.url }});"></div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}


