<footer class="section--footer">
  <div class="container container--content">
    <div>
      Hand-crafted</a> by <a href="{{ site.data.author.web }}">{{ site.data.author.name.first }} {{ site.data.author.name.last }}</a>
    </div>
  {% if site.data.site.sections.footerSocial.display %}
    <ul class="socialAccountList">
      <li>
        <a href="http://twitter.com/{{ site.author.twitter }}" class="socialAccount socialAccount--twitter" target="_blank"></a>
      </li>
      <li>
        <a href="http://facebook.com/{{ site.author.facebook }}" class="socialAccount socialAccount--facebook" target="_blank"></a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="socialAccount socialAccount--linkedin" target="_blank"></a>
      </li>
      <li>
        <a href="http://dribbble.com/{{ site.author.dribble }}" class="socialAccount socialAccount--dribbble" target="_blank"></a>
      </li>
      <li>
        <a href="https://www.pinterest.com/{{ site.author.pinterest }}/" class="socialAccount socialAccount--pinterest" target="_blank"></a>
      </li>
      <li>
        <a href="http://www.kiva.org/lender/{{ site.author.kiva }}" class="socialAccount socialAccount--kiva" target="_blank"></a>
      </li>
      <li>
        <a href="{{ site.rss }}" class="socialAccount socialAccount--rss" target="_blank"></a>
      </li>
    </ul>
  {% endif %}
  </div>
</footer>
