<head>
  <style>
    html {
      /* Will be overridden by JS */
      --abbrColor: rgb(0, 0, 0);
    }
  </style>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Optimized for search engines -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.site.head.description }}{% endif %}">

  {% if page.robots %}
    <meta name="robots" content="{{ page.robots }}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  {% include meta/prev-next.html %}

  <!-- Twitter card -->
  {% include meta/twitter-card.html %}

  <!-- Open graph -->
  {% include meta/open-graph.html %}

  {% if page.date %}
    {% include meta/date.html %}
  {% endif %}

  {% include meta/cat-tag.html %}

  <meta property="fb:admins" content="{{ site.fb_admins }}">
  <meta property="fb:app_id" content="{{ site.fb_appid }}">

  {% include meta/title.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

  {% if page.syntaxHighlighter %}
    <link rel="stylesheet" href="{{ '/css/prism-okaidia.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/prism-line-numbers.css' | prepend: site.baseurl }}">
  {% endif %}

  {% include meta/fonts.html %}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/apple-touch-icon-144-precomposed.png' | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  <!-- modernizer -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  {% include meta/ie.html %}
</head>
