<nav class="menuWrapper">
  <ul class="popover popover--menu">
    <li class="menu-avatar">
      <a href="{{ '/' | prepend: site.baseurl }}" id="tha__circle" class="brandLogo brandLogo--small{% if page.bgContrast == 'light' %}brandLogo--black{% endif %}" style="padding: 0;">
        <div id="tha__stars" class="brandLogo__inner"></div>
      {{ site.name }}</a>
      <ul class="list list--avatarMenu hidden">
        <li class="list-item"><a href="">Twitter</a></li>
        <li class="list-item"><a href="">LinkedIn</a></li>
        <li class="list-item"><a href="">Quora</a></li>
        <li class="list-item"><a href="">Dribbble</a></li>
        <li class="list-item"><a href="">Kiva</a></li>
      </ul>
    </li>
  </ul>
</nav>
