{% comment %}
<div class="modal-toggle-group animate scaleIn">
  <div class="modal-toggle-bubbleShadow"></div>
  <div class="modal-toggle-bubble"></div>
  <div class="modal-toggle-wrapper"></div>
  <div class="modal-toggle-close-wrapper">
    <div class="modal-toggle-close"></div>
  </div>
</div>

<div class="fullscreenModal u-table">
  <div class="u-tableCell u-verticalAlignMiddle">
    <h2 class="h2--shareTitle">Share this story</h2>
    <ul class="shareWrapper">
      <li><a class="shareButton shareButton--twitter" href="https://twitter.com/intent/tweet?text={{ page.title | append: ' by @VincentChan' }}&url={{ page.url | prepend: site.url | url_encode }}" target="_blank"></a></li>
      <li><a class="shareButton shareButton--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank"></a></li>
      <li><a class="shareButton shareButton--linkedin" href="https://www.linkedin.com/shareArticle
?mini=true&url={{ page.url | prepend: site.url | url_encode }}&title={{ page.title }}"  target="_blank"></a></li>
      <li><a class="shareButton shareButton--buffer" href="https://buffer.com/add?text={{ page.title | append: ' by @VincentChan' }}&url={{ page.url | prepend: site.url | url_encode }}" target="_blank"></a></li>
      <li><a class="shareButton shareButton--hackernews" href="http://news.ycombinator.com/submitlink?u={{ page.url | prepend: site.url | url_encode }}&t={{ page.title }}" target="_blank"></a></li>
      <li><a class="shareButton shareButton--pocket" href="https://getpocket.com/save?url={{ page.url | prepend: site.url | url_encode }}&title={{ page.title }}" target="_blank"></a></li>
    </ul>
  </div>
</div>
{% endcomment %}
