<nav role="navigation" class="sidebar sidebar--right">
  <a href="{{ '/' | prepend: site.baseurl }}" class="textLogo textLogo--white textLogo--sidebar">{{ site.name }}</a>
  <ul class="sidebar-recentPosts">
    {% assign blogPosts = site.posts | where: 'layout', 'post' %}
    {% for post in blogPosts offset:0 limit:10 %}
      {% if post.title != page.title %}
        <li>
          {% if post.img %}
            <a href="{{ post.url }}" class="sidebar-recentPosts-image-wrapper">
              <img src="{{ post.img | replace: 'full', 'thumb' | prepend: site.baseurl }}" style="" alt="">
            </a>
          {% endif %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          <div class="postMeta">{{ post.date | date_to_string }}</div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
