<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="heading__wide u-alignCenter">{{ site.data.site.footer.title }}</h3>
    <img class="authorAvatar" src="{{ site.data.author.email | md5 | prepend: 'https://www.gravatar.com/avatar/' | append: '?s=' | append: site.data.site.avatar.size }}" alt="{{ site.data.author.name.first | append: ' ' | append: site.data.author.name.last }}">
    <p>
      Hi, I'm <a href="{{ '/about' | prepend: site.baseurl }}">{{ site.data.author.name.first }}</a>. {{ site.description }}
    </p>
    {% if site.data.site.sections.subscribe.display %}
      {% include subs.html %}
    {% endif %}
    <hr/>
  </div>
</section>

