//
// Animations
// --------------------------------------------------

$animate-timing: .5s;
$animate-duration: 2s;
$animate-ease: cubic-bezier(0.23, 1, 0.32, 1);

@mixin transition($speed, $prop:all, $ease:ease-in) {
  -webkit-transition: $prop $speed $ease;
  -moz-transition: $prop $speed $ease;
  -ms-transition: $prop $speed $ease;
  -o-transition: $prop $speed $ease;
  transition: $prop $speed $ease;
}

.animate {
	transition: all $animate-timing $animate-ease;
}

.animated {
  -webkit-animation-duration: $animate-duration;
  animation-duration: $animate-duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.scaleIn {
	transform: scale(0);
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}
