//
// Global
// --------------------------------------------------

html,
body {
  overflow-x: hidden;

  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }
}

.brandLogo {
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  border: 4px solid #FFF;
  border-radius: 50%;

  &--small {
    width: 44px;
    height: 44px;
  }

  .brandLogo__inner {
    height: 24px;
    width: 24px;
    margin: 6px 0 0 6px;
    background-image: url(../img/icon/magic-white.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--black {
    border-color: #000;

    .brandLogo__inner {
      background-image: url(../img/icon/magic.svg);
    }
  }
}

.textLogo {
  display: block;
  background-image: url(../img/logo/logo-text-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    background-image: url(../img/logo/logo-text-black-plain.svg);
  }
}

.textLogo--white {
  background-image: url(../img/logo/logo-text-white.svg);

  @media (max-width: $screen-xs-max) {
    background-image: url(../img/logo/logo-text-white-plain.svg);
  }
}

.textLogo--sidebar {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
  min-height: 40px;

  &:hover {
    opacity: 1;
  }
}

.textLogo--frontpage {
  position: absolute;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $zIndex-5--textlogo-frontpage;
  margin: 0;
  width: 292px;
  height: 67px;
  background-size: 100%;
  background-position: 0;
  opacity: 0.9;

  @media (max-width: $screen-xs-max) {
    width: 164px;
    height: 39px;
    top: 99px;
  }
}

.heading__wide {
  font-variant: all-small-caps;
  letter-spacing: 20px;
  color: rgba($black, 0.5);
}
