.blockGroup__inner {
  margin: 35px auto;
  width: 60%;
  text-align: center;
  padding: 16px 40px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: $base-box-shadow;
}

.authorAvatar {
  float: left;
  margin-top: 1.5rem;
  padding: 16px;
  border-radius: 50%;
  max-width: $site-avatar-size;

  @media (max-width: $screen-xs-max) {
    float: unset;
    width: 100%;
    max-width: $site-avatar-size;
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
