//
// Images
// --------------------------------------------------

.img {
  margin-top: $leading;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img--fullContainer img {
  width: 100%;
}

.img--5xLeading {
  height: 5*$leading;
}

.img--6xLeading {
  height: 6*$leading;
}

.img--7xLeading {
  height: 7*$leading;
}

.img--8xLeading {
  height: 8*$leading;
}

.img--9xLeading {
  height: 9*$leading;
}

.img--10xLeading {
  height: 10*$leading;
}

.img--11xLeading {
  height: 11*$leading;
}

.img--12xLeading {
  height: 12*$leading;
}

.img--13xLeading {
  height: 13*$leading;
}

.img--14xLeading {
  height: 14*$leading;
}

.img--15xLeading {
  height: 15*$leading;
}

.img--16xLeading {
  height: 16*$leading;
}

.postImage__left {
  float: left;
  margin-right: 16px;
}

.postImage__right {
  float: right;
  margin-left: 16px;
}

.postImage__left,
.postImage__right {
  border-radius: $base-border-radius;
  width: 50%;

  @media (max-width: $screen-xs-max) {
    max-height: 400px;
    width: auto;
    max-width: 100%;
    float: unset;
    margin: 0 auto 16px 0;
    display: block;
  }
}


