.tagPage__title {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 700;

  &:before {
    content: '#';
    font-size: 80%;
    vertical-align: text-top;
    font-weight: 300;
    opacity: 0.5;
  }
}

.tagPage__title__addl {
  letter-spacing: 8px;
  font-weight: 100;
  text-transform: lowercase;
  font-variant: all-small-caps;
}

.tagPage__post--list {
  list-style: none;

  li {
    padding-bottom: 1.2rem;
  }
}

.tagPage__post--time {
  color: rgba(0,0,0,0.5);
  font-size: 80%;
}

.tagPage__post--tag-list {
  margin-left: 0.5rem;
}

.tagPage__post--tag {
  border-radius: 5px;
  padding: 0 6px;
  line-height: 22px;
  font-weight: 300;
  background-color: #999;
  color: #FFF;
  font-size: 75%;
  font-family: $title-primary-font;
  display: inline-block;

  &:before {
    content: '#';
    display: inline-block;
    padding-right: 1px;
  }
}

#tag-cloud {
  text-align: center;
}
