<section class="section--first is-darkBackgrounded u-table">
  <div class="section-backgroundImage">
    <div class="post-featuredImage__overlay"></div>
    {% if page.img %}<img id="featuredImage" class="post-featuredImage" src="{{ page.img | prepend: site.baseurl }}" style="{% if page.imgPos %}top:{{ page.imgPos }};{% endif %}" alt="">{% endif %}
  </div>

  {%- if page.bgGradientOpacity == 'darker' -%}
    {% assign addlClass = 'section-gradient--darker' %}
  {%- elsif page.bgGradientOpacity == 'lighter' -%}
    {% assign addlClass = 'section-gradient--lighter' %}
  {%- endif -%}

  <div class="section-gradient {{ addlClass }}"></div>
  <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
    <div class="container">
      <h2 class="postPage__title">{{ page.title }}</h2>
      <div class="postMeta-wrapper">
        <ul class="postMeta">
          <li class="postMeta-datetime">
            <time datetime="{{ page.date }}">
              {{ page.date | date_to_string }}
            </time>
          </li>
          {% if page.author.name or site.author.name %}
            <li class="postMeta-author">
              By {% if site.author.name %}{{ site.author.name }}{% elsif page.author.name %}{{ page.author.name }}{% endif %}
            </li>
          {% endif %}
          {% if page.tags %}
            <li class="postMeta-tags">
              <div>
                {% for t in page.tags %}
                  <span class="postMeta-tags__link">
                    <a href="{{ '/tagged/' | prepend: site.baseurl | append: t }}">{{ t }}</a>
                  </span>
                {% endfor %}
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
