<!DOCTYPE html>
<html lang="en-us" class="no-js">

  {% include head.html %}

  <body>

    {% if page.url != '/index.html' %}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include sidebar-nav.html %}
      {% comment %}
        {% include menu.html %}
      {% endcomment %}
    {% endif %}

    {{ content }}

    {% if page.url != '/index.html' %}
      {% include sidebar-toggle.html %}
    {% endif %}

    {% include images/modal-triggers.html %}

    {% if page.title != 'About' %}
      {% include subscribe.html %}
    {% endif %}

    {% include footer.html %}

    {% include images/modals.html %}

    {% include footer-scripts.html %}
  </body>
</html>
