---
layout: default
---
<article class="postWrapper">
  {% include post/header.html %}
  <section class="section--last post-content__bs">
    <div class="container container--content">
      <div class="content-body">

        {{ content }}

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    {% comment %}
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include comments.html %}
      </div>
    </div>
    {% endcomment %}
  </section>
  {% include post/footer.html %}
</article>
{% comment %}
  {% include modal.html %}
{% endcomment %}
