---
layout: default
---
<article class="postWrapper">
  <section class="section--first is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
      <div class="post-featuredImage__overlay"></div>`
      {% for p in page.posts limit: 1 %}
        {% if p.img %}
          <img class="post-featuredImage" src="{{ p.img | prepend: site.baseurl }}" style="{% if p.imgPos %}top:{{ p.imgPos }};{% endif %}" alt="">
        {% endif %}
      {% endfor %}
    </div>
    {%- if page.bgGradientOpacity == 'darker' -%}
      {% assign addlClass = 'section-gradient--darker' %}
    {%- elsif page.bgGradientOpacity == 'lighter' -%}
      {% assign addlClass = 'section-gradient--lighter' %}
    {%- endif -%}

    <div class="section-gradient {{ addlClass }}"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h4 class="tagPage__title__addl">{{ page.posts.size | pluralize: 'post' }} tagged</h4>
        <h2 class="tagPage__title">{{ page.tag }}</h2>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <ul class="tagPage__post--list">
        {% for post in page.posts %}
          <li>
            <a href="{{ post.url }}" class="tagPage__post--link">
              {{ post.title }}
            </a> <time class="tagPage__post--time" datetime="{{ post.date | date_to_xmlschema }}">({{ post.date | date_to_string }})</time>
            <div class="tagPage__post--tag-list">
              {% assign theTags = post.tags | sort %}
              {% for t in theTags %}
                <a class="tagPage__post--tag" href="{{ '/tagged/' | prepend: site.baseurl | append: t }}">{{ t }}</a>
              {% endfor %}
            </div>
          </li>
        {% endfor %}
        </ul>
        <hr>
        <div id="tag-cloud">
          {{ site | tag_cloud }}
        </div>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
  </section>
</article>

{% include modal.html %}
