<section class="section--first section--frontpage">
  <div class="section-title">
    <div class="container">
      <h1 class="textLogo textLogo--frontpage">
        {{ site.name }}
      </h1>
      {% if site.data.site.header.tagline %}
      <div class="postMeta-wrapper postMeta-wrapper--frontpage">
        <ul class="postMeta">
          <li class="postMeta-tagline">
            {{ site.data.site.header.tagline }}
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</section>
