<ul class="blockGroup-list">
  {% assign blogPosts = site.posts | where: 'layout', 'post' %}
  {% for post in blogPosts %}
    <li class="block">
      <div class="postArticle-wrapper">
        <article class="postArticle postArticle--short">
          {% if post.img %}
            <a href="{{ post.url }}">
              <div class="postArticle-image desaturate" style="background-image:url('{{ post.img | prepend: site.baseurl }}')">
              </div>
            </a>
          {% else %}
          <a href="{{ post.url }}">
            <div class="postArticle-image" style="background-image:url('{{ "assets/images/logo-black.svg" | prepend: site.baseurl }}')">
            </div>
          </a>
          {% endif %}
          <a class="postArticle-title" href="{{ post.url }}">{{ post.title }}</a>
        </article>
        <div class="block-postMeta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date_to_string }}
          </time>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
